.mobileMenu.open {
	min-height: 100%;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	overflow-x: hidden;
	background: #410078;
	color: #fff;
}

.mobileMenu-header,
.mobileMenu-subNavSlider-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #2e0152;
	height: 60px;
}

.mobileMenu-header-btn {
	height: 60px;
	width: 60px;
	text-align: center;
}

.mobileMenu-header-btn:only-child {
	margin-left: auto;
}

.mobileMenu-header-btn {
	height: 60px;
	width: 60px;
	text-align: center;
}

button .mobileMenu-body-nav-item-btn:after {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-left: 14px;
	margin-right: 8px;
	background-size: 9px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.86 24.62'%3E%3Cpath d='M14.87 14.69a3.48 3.48 0 0 0 0-4.86L5.95.91a3.49 3.49 0 0 0-4.93 4.93l6.4 6.42-6.4 6.4a3.493 3.493 0 1 0 4.94 4.94l8.87-8.86z' fill='%23fff'/%3E%3C/svg%3E");
}

.mobileMenu-body {
	padding: 40px 50px;
	background: #6504b5;
}

.mobileMenu button {
	font-size: 18px;
	color: #fff;
}

.mobileMenu-subNavSlider {
	position: absolute;
	top: 0;
	left: 20px;
	right: 0;
	bottom: 0;
	background: #6504b5;
	box-shadow: 0 0 40px;
}

.field {
	display: block;
	position: relative;
}

.m-field_noLabel .field-input {
	padding-top: 8px;
	padding-bottom: 8px;
}

.m-field_transparent .field-input {
	background-color: transparent;
	border-color: 2e152;
	color: #fff;
}

.mobileMenu-subNav {
	position: absolute;
	z-index: 1;
	top: 110px;
	left: 20px;
	right: 0;
}

.mobileMenu-body-nav {
	padding: 0;
	margin: 0;
}

.mobileMenu-subNav-item:not(:last-child) {
	margin-bottom: 34px;
}

.mobileMenu-subNav .mobileMenu-body-nav-item {
	display: contents;
}

.mobileMenu-body-nav-item:not(:last-child) {
	margin-bottom: 34px;
}

@media print, screen and (min-width: 668px) {
	.mobileMenu {
		background: #6504b5;
	}
	.mobileMenu-body {
		padding: 80px 130px 10px;
	}
	.mobileMenu button {
		font-size: 30px;
	}
	.mobileMenu-subNav {
		padding-left: 130px;
		padding-right: 130px;
	}
}

@media screen and (max-width: 1023px) {
	.mobileMenu-subNavSlider.open {
		display: block;
		transform: translateX(0%);
	}
	.mobileMenu-subNav,
	.mobileMenu-subNavSlider {
		transform: translateX(102%);
		transition: transform 0.5s;
	}
	.mobileMenu-subNav.open {
		display: block;
		transform: translateX(0%);
	}
}
